* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  :root {
    --primary-color: #fce138;
    --secondary-color: #1e1e31;
    --tertiary-color: #476372;
  }

  body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
  }


  /* HEADER / NAV BAR STYLES START */


header {
  padding: 20px 35px;
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position:sticky;
  top: 0;
  background-image: url('./images/laptop.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
  }
  }

  header::before {
    content: '';
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url('./images/laptop.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  /*drop shadow on png*/
  header div {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(10px 10px 25px #222);
    }

  
  header nav ul {
    position: relative;
    padding: 15px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }


  header nav ul li a {
      color: white;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.4vw;
    text-shadow: 0 0 5px rgba(0, 0, 0, 5);
    text-decoration: underline;    
  }

  header nav ul li a:hover {
    background: var(--tertiary-color);
    color: white;
    border-radius: 15px;
    text-shadow: none;
  }
  
  /* HEADER / NAVBAR STYLES END */
  

/* hero */

.hero {
    padding: 150px;
    background-image: url('./images/laptop.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;   
    opacity:;
  }


.hero-txt-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 3px  var(--tertiary-color);
  background-color: rgba(30, 30, 49, 0.8);
  padding: 25px 50px;
  border-radius: 25px;

 
}

.hero-text {
    display: flex;
    flex-wrap: wrap;
    color: white;
    font: bold;
    font-size: 55px;
    text-align: left;
    }

.hero-text-img {
  display: flex;
  flex-wrap: wrap;
  border-radius: 250px;
  margin-left: 40px;
  margin-right: 0;
  margin-top: 5px;
  }


/* hero styles end */

section {
padding: 50px
}

/* ABOUT ME SECTION */

.about-me-section {
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0 0 0;
}

section h1 {
  position: ;
  font-size: 48px;
  color:  var(--secondary-color);
  text-align: right;
  padding: 10px 25px;
  border-right: 4px solid var(--secondary-color);
}

.section-title {
  font-size: 48px;
  border-bottom: 3px solid;
  color: var(--secondary-color);
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}

.section-text-box {
  width: 60%;
  padding: 10px 25px; 
}


/*social icons */
.social-icons-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 70px;
  text-align: center;

   }

.social-icons-style {
  color: var(--secondary-color);
  margin: 0 10px;
  text-decoration: none;
  font-size: 25px;
 
}
.social-icons-style:hover {
color: darkgrey;
transition: color 0.2s;
transform: scale(1.4) ;
transition: all 0.2s;
}

/* social icons end */




/* WORK */

.work {
  display: flex;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  flex-grow: 2;
}

.work-title {
  padding-right: ;
}

.work-box {
  width: 58%;
  padding: 0 0 0 125px;
  opacity: 0.8;
}

.run-buddy-box {
  position: relative;
  padding: 10px 50px;
  background-color: var(--secondary-color);
  float: left;
}

.work-box:hover {
  opacity: 1;
  transform: scale(1.1);
  transition: 0.4s;
}



/* contact me */

.contact-me {
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 150px 0 150px;
  width: 100%;
}

.contact-me-info {
  color: var(--secondary-color);
  font-size: 30px;
  line-height: 1.8;
  padding-right: 380px;
}


.email-link {
  text-decoration: none;
  color: var(--secondary-color);
}
.email-link:hover {
color: darkgrey;
transition: color 0.2s;
}

.contact-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}




  /* FOOTER STYLES START */
footer {
    background-image: url(https://ucarecdn.com/bd5109a1-0452-447d-83b3-074c67e8866d/Untitleddesign.png);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
     
  }
  
  
  footer div {
    padding: 10px;
    line-height: 1.5;
    text-align: right;
    
  }

  footer img {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    opacity: 1;
  }
  


  footer a {
    text-decoration: none;
    color: black;
    border-bottom: 2px solid black;
    font-weight: bold;

  }

footer div a:hover {
    color: var(--secondary-color);
}

  /* END FOOTER STYLES */




  /* Media Queries */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }
  header h1 {
    width: 100%;
    text-align: center;
  }
  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }
  header nav ul a {
    font-size: 20px;
  }
  footer h2, footer div {
    text-align: center;
    width: 100%;
  }

  .hero-cta, .hero-form {
    width: 100%;
  }
  
  .hero-cta {
    text-align: center;
  }

  .section-title {
    width: 80%;
  }
  
  .trainer {
    flex: 0 70%;
  }
  
  .contact-info iframe{
    flex: 1 100%;
  }
  
}



/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }
  .step h3 {
    flex: 1 100%;
    text-align: center;
  }

  .step-info {
    flex: 2 100%;
    text-align: center;
    justify-content: center;
  }

  .step-img {
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .step-text {
    flex: 100%;  
  }

  }
}



/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .hero-form button {
    width: 100%;
  }

  .section-title {
    width: 95%;
  }

  .intro p {
    width: 100%;
  }

  .trainer {
    flex: 0 100%;
  }

  .contact-info {
    text-align: center;
  }

  .contact-info > * {
    flex: 0 100%;
  }
  .contact-form {
    order: 3;
  }

  }
}