* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  :root {
    --primary-color: #fce138;
    --secondary-color: #024e76;
    --tertiary-color: black;
  }

  body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
  }


  /* HEADER / NAV BAR STYLES START */


header {
  padding: 20px 35px;
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position:sticky;
  top: 0;
  background-image: url('./images/laptop.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
  opacity: ;
  }
  }

  header::before {
    content: '';
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url('./images/laptop.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 

  }

  /*drop shadow on png*/
  header div {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(10px 10px 25px #222);
    }

  
  header nav ul {
    position: relative;
    padding: 15px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }


  header nav ul li a {
      color: white;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.4vw;
    text-shadow: 0 0 5px rgba(0, 0, 0, 5);
    text-decoration: underline;    
  }

  header nav ul li a:hover {
    background: var(--tertiary-color);
    color: white;
    border-radius: 15px;
    text-shadow: none;
  }
  
  /* HEADER / NAVBAR STYLES END */
  

/* hero */

.hero {
    padding: 150px;
    background-image: url('./images/laptop.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;   
    opacity:;
  }


.hero-txt-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 3px  var(--tertiary-color);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 25px 50px;
  border-radius: 25px;

 
}

.hero-text {
    display: flex;
    flex-wrap: wrap;
    color: white;
    font: bold;
    font-size: 60px;
    text-align: left;
    }

.hero-text-img {
  display: flex;
  flex-wrap: wrap;
  border-radius: 250px;
  margin-left: 40px;
  margin-right: 0;
  margin-top: 5px;
  }





  /* FOOTER STYLES START */
footer {
    background-image: url(https://ucarecdn.com/bd5109a1-0452-447d-83b3-074c67e8866d/Untitleddesign.png);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    opacity: 0.8;
    
  }
  
  
  footer div {
    padding: 10px;
    line-height: 1.5;
    text-align: right;
    
  }

  footer img {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    opacity: 0.7;
  }
  


  footer a {
    text-decoration: none;
    color: black;
    border-bottom: 2px solid black;
    font-weight: bold;

  }

footer div a:hover {
    color: var(--secondary-color);
}

  /* END FOOTER STYLES */